.main-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.407);
  top: 0;
  left: 0;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}
.main-frame .diglog-box {
  height: 500px;
  aspect-ratio: 2/1;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.078);
  border-top: 3px solid orange;
  border-left: 3px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.main-frame .diglog-box  .cross-box{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 10px;
}
.main-frame .diglog-box  .cross-box .cross-button{
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding: 4px;

}
.main-frame .diglog-box .txt {
  font-size: 27px;
  font-family: "Lemon", cursive;
  width: 400px;
  text-align: center;
  margin-top: 50px;
  line-height: 34px;
}

.main-frame .diglog-box .button-box {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Lemon", cursive;
}
.main-frame .diglog-box .button-box .button {
  cursor: pointer;
  font-size: 22px;
}
.main-frame .diglog-box .button-box .button:hover {
  text-decoration: underline;
}
.main-frame .diglog-box .button-box .r {
  color: red;
}

.main-frame .diglog-box .button-box .g {
  color: green;
}
