.mobile-menu-bar {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  top: 0;
  left: 0;
  inset: 0;
  position: fixed;
  background: linear-gradient(45deg, rgb(236, 196, 163), rgb(244, 178, 124));
  z-index: 999999999999999999999999999999999999999999999999;
  display: none;
  padding: 7px;
  border-top-right-radius: 10px;
  transition: .2s;
}
.mobile-menu-bar-on{
  left: 0;
}
.mobile-menu-bar-off{
  left: -120%;
}
.build-dialog-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999999999999999999999999999999;
  background-color: rgba(255, 255, 255, 0.531);
  display: flex;
  justify-content: center;
  align-items: center;
}
.build-dialog-box .dialog-box {
  height: 450px;
  width: 850px;
  background-color: white;
  border-left: 2px solid rgb(255, 132, 0);
  border-top: 2px solid rgb(255, 132, 0);
  border-radius: 5px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.104);
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.build-dialog-box .dialog-box .head-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
.build-dialog-box .dialog-box .list-of-items {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
  padding-right: 5px;
}
.build-dialog-box .dialog-box .list-of-items .item {
  width: 48%;
  display: flex;
  margin-top: 10px;
  height: 40px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.build-dialog-box .dialog-box .list-of-items .item .txt {
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 5px;
}
.build-dialog-box .dialog-box .list-of-items .item .icon {
  height: 22px;
  aspect-ratio: 1/1;
}
.build-dialog-box .dialog-box .grid-box {
  width: 100%;
  flex-grow: 1;
  display: grid;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
}
.build-dialog-box .dialog-box .grid-box .item {
  cursor: pointer;
  aspect-ratio: 1/1.2;
  background-color: rgb(245, 243, 242);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.104);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.build-dialog-box .dialog-box .grid-box .item .icon {
  width: 90%;
  padding: 10px;
  aspect-ratio: 1/1;
}
.build-dialog-box .dialog-box .grid-box .item .txt {
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}
.build-dialog-box .dialog-box .head-box .label {
  font-size: 21px;
  font-family: "Fugaz One", sans-serif;
  color: rgb(255, 123, 0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.104);
}
.build-dialog-box .dialog-box .head-box .close {
  font-size: 17px;
  font-family: "Fugaz One", sans-serif;
  cursor: pointer;
}
.main-header {
  width: 100%;
  display: flex;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.main-header > .exp {
}
.main-header > .exp-0 {
  display: none !important;
}
.main-header > .part {
  flex-grow: 1;
  height: 100%;
  padding: 0 10px;
}

.main-header > .part:nth-child(1) {
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
}

.main-header > .part:nth-child(1) > .icon {
  height: 70px;
  aspect-ratio: 1/1;
  position: relative;
  margin-right: 10px;
}
.main-header > .part:nth-child(1) > .text {
  font-family: "Fugaz One", sans-serif;
  font-size: 35px;
}

.main-header > .part-2 {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  padding: 0 20px;
}
.main-header > .part-2 .option-item {
  height: 30px;
  aspect-ratio: 1/1;
  cursor: pointer;
  margin-right: 20px;
  padding: 2px;
  transition: 0.2s ease-in-out;
}
.main-header > .part-2 .option-item:nth-child(1) {
  transition: 0.2s 0.1s ease-in-out;
}
.main-header > .part-2 .option-item:nth-child(2) {
  transition: 0.2s 0.2s ease-in-out;
}
.main-header > .part-2 .option-item:nth-child(3) {
  transition: 0.2s 0.3s ease-in-out;
}
.main-header > .part-2 .chat {
  height: 35px;
  padding: 0px;
}

.main-header > .part-2 .profile {
  height: 32px;
  padding: 0px;
}

.main-header > .part-2 .over-out {
  transform: translateY(-500%);
}

.main-header > .part-2 .over-in {
  transform: translateY(-0%);
}

.main-header .build-padding {
  padding: 3.5px !important;
}

@media (max-width: 700px) {
  .main-header > .part:nth-child(1) > .text {
    font-size: 27px;
    white-space: nowrap;
  }
  .main-header > .part-2 {
    padding: 0;
  }
}

@media (max-width: 650px) {
  .main-header > .exp {
    display: none !important;
  }
  .main-header > .exp-0 {
    display: flex !important;
  }
  .mobile-menu-bar {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-bar .icon_w_txt {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .mobile-menu-bar .icon_w_txt .icon {
    height: 100px;
    width: 100px;
    margin-right: 6px;
    padding: 10px;
  }

  .mobile-menu-bar .icon_w_txt .txt {
    font-weight: 100;
    font-family: "Fugaz One", sans-serif;
    font-size: 25px;
    color: white;
    white-space: nowrap;
  }
  .mobile-menu-bar  .more-option{
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .mobile-menu-bar  .more-option .item{
    height: 40px;
    aspect-ratio: 1/1;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
  }
  .mobile-menu-bar  .more-option .active-item{
    border: 2px solid white;
  }
   .mobile-menu-bar  .more-option .item:hover{
      background-color: wheat;
   }
  .mobile-menu-bar .nav-item {
    width: 100%;
    margin-top: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
  }
  .mobile-menu-bar .nav-item .icon {
    height: 20px;
    aspect-ratio: 1/1;
    margin-right: 10px;
  }
  
   .mobile-menu-bar .nav-item .icon2 {
    height: 15px;
    aspect-ratio: 1/1.2;
    margin-right: 5px;
  }
  .mobile-menu-bar .nav-item .txt {
    font-weight: 200;
    color: white;
    font-family: "Fugaz One", sans-serif;
    font-size: 15px;
    flex-grow: 1;
  }
}
